.navbar{
    background-color: #35363A;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}
nav{
    font-size: 25px;
}
.logo{
    max-width: 100px;
    height: auto;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: grey;
}
