body{
    padding-top: 80px;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    margin: 0px;
    position: relative;
    background-color: #35363A;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    color: white;
}
h1{
    font-size: 40px;
}
.description{
    font-size: 25px;
}
.movieInfo
{
    font-size: 15px;
}
.buyButton{
    margin-top: 20px;
    max-width: 200px;
    height: auto;
}
