.navbarContainer{
    position: sticky;
    background-color: grey;
    width: 100%;
    height: fit-content;
}
#navbar li:hover {
    background-color: green;
  }
li{
    font-size: 20px;
    display: inline;
    padding: 10px;
}
#navbar li a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Graphik,Helvetica,Arial,sans-serif;
    margin: 0px;
    position: relative;
    background-color: #35363A;
}
.movieContainer{
    margin-top: 10px;
    
}
.genre{
    padding-left: 10%;
    font-size: 30px;
    color: white;
}
.stockMoviePicture{
    max-width: 120px;
    height: auto;
    padding: 10px;
}
.imageArray{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 95%;
}