body{
    font-family: Graphik,Helvetica,Arial,sans-serif;
    margin: 0px;
    position: relative;
    background-color: #35363A;
}
.movieContainer{
    margin-top: 10px;
    
}
.genre{
    padding-left: 10%;
    font-size: 30px;
    color: white;
}
.stockMoviePicture{
    max-width: 120px;
    height: auto;
    padding: 10px;
}
.imageArray{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 95%;
}
nav{
    font-size: 25px;
    
}
.navElement{
}